/* this file is what determines how the spoiled elements will look on the webpage, and allows them to show text on hover */

.anti-spoil-blur-1aa2e7f0be3cb32e13e5c84d42bb23c7 {
    filter: blur(6px) !important;
    transition: 200ms ease-in-out;
}
.anti-spoil-blur-1aa2e7f0be3cb32e13e5c84d42bb23c7:hover {
    filter: inherit !important;
}