html, body {
    margin: 0;
    padding: 0;
    width: 320px;
    background-color: #fefefe;
}
h1 {
    text-align: center;
}

#banned-list-container {
    display: flex;
    flex-direction: column;
}

.banned-item-container {
    display: flex;
    flex-direction: column;
}

.banned-phrase-container {
    display: flex;
    flex-direction: row;
}

.banned-phrase-container .banned-remove-button, .banned-phrase, .banned-expansion-button {
    display: flex;


}

.banned-remove-button {

}

.banned-phrase {

}

.banned-expansion-button {

}

.banned-related-list-container {

}