html {
  margin: 0;
  padding: 0;
  width: 360px;
  font-family: Roboto, Helvetica, Arial;
}
body {
  margin: 0;
  padding: 28px;
  background-color: #ffffff;
}

#header {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 30px;
}

h1 {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  font-size:  30px;
}

#enable-toggle-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

#main.disabled {
  color: #C8C8C8;
}

#add-phrase-container {
  display: flex;
  margin: 10px;
  margin-left: 0;
  padding: 0;
  line-height: 12px;
}

#add-phrase {
  display: block;
  margin: 0;
  padding: 0px;
  width: 100%;
  border-style: none;
  outline: 0;
  font-size: 16px;
}

#add-phrase::placeholder {
  color: #C8C8C8;
}

#banned-list-container {
  display: flex;
  flex-direction: column;
  width:  100%;
  margin: 0;
  padding: 0;
}

.banned-item-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width:  100%;
  font-size: 16px;
}

.banned-phrase-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0;
  padding: 0;
  height: 24px;
  line-height: 24px;
}

.banned-phrase-container div {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  line-height: 24px;
  height: 24px;
  -webkit-user-select: none;
  user-select: none;
}

.banned-phrase-container .banned-phrase {
  position: relative;
  left: -6px;
}

.banned-expansion-button, .banned-remove-button {
  max-width: 24px;
}


.banned-remove-button {
  position: relative;
  left: -6px;
}
.banned-remove-button:hover, .banned-expansion-button:hover {
  cursor: pointer;

}

.banned-remove-button::before, .banned-remove-button::after {
  content: '';
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  width: 2px;
  height: 14px;
  background-color: #c8c8c8;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.banned-remove-button:hover::before, .banned-remove-button:hover::after {
  background-color: #ff5b5b;
}
.banned-remove-button::before {
  top: 6px;
  left: 11px;
  transform: rotate(45deg);
}
.banned-remove-button::after {
  top: -8px;
  left: 11px;
  transform: rotate(-45deg);
}

.banned-expansion-button::before, .banned-expansion-button::after {
  content: '';
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 2px;
  width: 2px;
  height: 10px;
  background-color: #c8c8c8;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.banned-expansion-button:hover::before, .banned-expansion-button:hover::after {
  background-color: #ff5b5b;
}
.banned-expansion-button::before {
  top: 8px;
  left: 8px;
  transform: rotate(45deg);
}
.banned-expansion-button::after {
  top: -2px;
  left: 14px;
  transform: rotate(-45deg);
}
.expansion-panel-hidden .banned-expansion-button::before {
  transform: rotate(-45deg);
}
.expansion-panel-hidden .banned-expansion-button::after {
  transform: rotate(45deg);
}

.expansion-panel {
  background-color: #efefef;
  padding: 18px;
  border-radius: 5px;
  /* overflow: hidden;*/

  animation: fadeFromTop ease 0.75s;
}

.expansion-panel-header-title {
  margin-bottom: -10px;
}

.expansion-panel-hidden .expansion-panel {
  display: none;
}


/* Toggle CSS */
.toggle {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #C8C8C8;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 20px;
}
.toggle-slider:before {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #ffffff;
  -webkit-transition: 400ms;
  transition: 400ms;
  border-radius: 20px;
}

.toggle input:checked + .toggle-slider {
  background-color: #ff5b5b;
}

.toggle input:checked + .toggle-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

@keyframes fadeFromTop {
  from {
    opacity: 0;
    transform: translateY(-900);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}