html {
  margin: 0;
  padding: 0;
  width: 320px;
}
body {
  margin: 0;
  padding: 16px;
  background-color: #fefefe;
}

#header {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  height: 24px;
}

h1 {
  display: flex;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  height: 24px;
}

#enable-toggle-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

#search-container {
  
}
#search {
  
}

#add-phrase-container {
  
}
#add-phrase {
  
}

#banned-list-container {
    display: flex;
    flex-direction: column;
}

.banned-item-container {
    display: flex;
    flex-direction: column;
}

.banned-phrase-container {
    display: flex;
    flex-direction: row;
}

.banned-phrase-container .banned-remove-button, .banned-phrase, .banned-expansion-button {
    display: flex;
    margin: 2px;
    padding: 0;
}

.banned-remove-button {

}

.banned-phrase {

}

.banned-expansion-button {

}

.expansion-panel {
  
}

.expansion-panel-hidden {
  display: none;
}


/* Toggle CSS */
.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  background-color: #ccc;
  -webkit-transition: 400ms;
  transition: 400ms;
}
.toggle-slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.toggle input:checked + .toggle-slider {
  background-color: #f00;
}
.toggle input:focus + .toggle-slider {
  box-shadow: 0 0 1px #000; /* black so you can see for now */
}
.toggle input:checked + .toggle-slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}